* {
    margin: 0;
    padding: 0;
    text-decoration: none;
    list-style: none;
}

header h1 {
    margin: 1em;
    display: flex;
    justify-content: center;
}

ul {
    margin: 2em;
    display: flex;
    justify-content: center;
}

.button {
    display: inline-block;
    padding: 10px 20px;
    background-color: #bcbcbc;
    color: #000000;
    text-decoration: none;
    border-radius: 5px;
    font-family: Arial, sans-serif;
    font-size: 16px;
    font-weight: bold;
    border: none;
    cursor: pointer;
    transition: background-color 0.3s ease;
    transition: transform 0.1s ease-out;
}

.button:hover {
    background-color: #848484;
    transform: scale(1.1);
}