* {
    margin: 0;
    padding: 0;
    text-decoration: none;
    list-style: none;
}

.logo {
    width: 6em;
    height: auto;
    float: right;
}

.cabecera {
    display: flex;
    align-items: center;            
    justify-content: space-between; 
    position: relative;             
    padding: 10px 20px;             
    background-color: #d49a1d;     
}

.titulo-centrado {
    position: absolute;
    left: 50%;                      
    transform: translateX(-50%);
    font-weight: bold;
}

header {
    background-color: goldenrod;
    padding: 1.5em;
    height: 6em;
}

.button {
    display: inline-block;
    padding: 10px 20px;
    background-color: #bcbcbc;
    color: #000000;
    text-decoration: none;
    border-radius: 5px;
    font-family: Arial, sans-serif;
    font-size: 16px;
    font-weight: bold;
    border: none;
    cursor: pointer;
    transition: background-color 0.3s ease;
    transition: transform 0.1s ease-out;
}

.button:hover {
    background-color: #848484;
    transform: scale(1.1);
}